/* Overrides */
html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Universal */
body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background: black;
    opacity: 0.9;
    text-align: center;
}

a {
    text-decoration: underline;
}

li {
    list-style: none;
}
/* Header/Navbar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    overflow: auto;
}

.logo {
    height: 50px;
    align-items: center;
    margin: auto;
    padding-left: 10px;
}

nav ul {
    display: flex;
    padding: 10px;
}

nav ul li a {
    color: seashell;
    padding: 0 10px;
}

/* Main Section */
/* Mission */
.mission {
    display: flex;
    align-items: center;
    background: url('/resources/images/mission-background.jpg') no-repeat center center/cover;
    margin: 0 auto;
    height: 700px;
    width: 1200px;
}

.span-1 {
    position: absolute;
    width: 1200px;
    background: black;
}

.span-1 h2, 
.span-1 h4 {
    padding: 10px;
}


